@charset "UFT-8";

/* CONFIGURAÇÕES GERAIS */
:root{
    --cor0: #422D6B;
    --cor1: #573C8C;
    --cor2: #6D4CB0;
    --cor3: #815BD4;
    --cor4: #9C6EFF;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #745EBB   ;
}

/* CALCULADORA COMO UM TODO */
.calc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    background-color: #422D6B;
    padding: 20px;
    border-radius: 10px;
}

/* HEADER */
header {
    font-size: 30px;
    color: white;

    text-align: center;
    margin-bottom: 20px;
}

/* TELA */
.tela {
    height: 70px;
    width: auto;
    border-radius: 8px;
    background-color: white;

    font-weight: bolder;
    font-size: 28px;
    text-align: right;

    margin: auto;
    margin-bottom: 15px;
    padding-right: 10px;

    display: flex;           
    align-items: center;     
    justify-content: flex-end; 
}

/* TABELA */
.conteiner {
    display: grid;

    grid-template-columns: 85px 85px 85px 85px;
    grid-template-rows: 85px 85px 85px 85px 85px ;
    gap: 5px;
}

button {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: #6D4CB0;

    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: #573C8C;
    cursor: pointer;
    transition: .2s;
}

button:active {
    border: 1px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
    transition: transform .3s;
}
